<!DOCTYPE html>
<html>
<head>
  <title>Hpvideos</title>
  <%= stylesheet_link_tag  "application", "profile", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="topnavbar">
		<%= render :partial => 'elements/nav_bar' %>
	</div>
</div>
<div class="subnav">
	<%= render :partial => 'elements/subnav' %>
</div>
<%= yield %>
	<%= render :partial => "elements/new" %>
	<%= render :partial => "elements/footer" %>

</body>
</html>
